<template>
  <div class="flex flex-col h-full w-full bg-gray-200">
    <div class="flex fixed justify-end w-full bg-gray-900 p-4">
      <font-awesome-icon
        @click="toggle"
        icon="bars"
        class="sidebar_icon text-white cursor-pointer mr-2"
      />
    </div>
    <div class="flex h-full flex-col sm:flex-row w-full">
      <div class="bottom-0 fixed pt-4 sm:pt-16 h-16 sm:h-screen w-full sm:w-12 bg-gray-900 z-50">
        <div class="flex flex-row sm:flex-col">
          <div v-for="(link, i) in links" :key="i" class="w-1/2 sm:w-full">
            <nuxt-link :to="link.link">
              <div
                :class="`flex justify-center block py-1 md:py-3 px-3 align-middle text-white no-underline hover:text-white border-b-2 mb-4 ${$route.path == link.link? 'border-red-500' : 'border-gray-800'}  hover:border-red-500`"
              >
                <font-awesome-icon :icon="link.icon" class="sidebar_icon" />
              </div>
            </nuxt-link>
          </div>
        </div>
      </div>
      <app-menu @close="closeNav" v-if="userData" id="mySidenav" class="sidenav"></app-menu>
      <div class="flex justify-center w-full min-h-screen pl-0 sm:pl-16 pt-16 pb-16">
        <nuxt />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      links: [{ icon: "edit", link: "/" }, { icon: "eye", link: "/preview" }],
      menu: false
    };
  },
  methods: {
    toggle() {
      if (this.menu) {
        this.closeNav();
      } else {
        this.openNav();
      }
    },
    openNav() {
      if (process.client) {
        document.getElementById("mySidenav").style.width = "100%";
        this.menu = true;
      }
    },
    closeNav() {
      if (process.client) {
        document.getElementById("mySidenav").style.width = "0";
        this.menu = false;
      }
    }
  }
};
</script>

<style>
.sidebar_icon {
  font-size: 25px;
  padding: 0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;

}


.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
</style>
