<template>
  <div class="w-full max-w-xs">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Username</label>
        <input
          v-model="form['username']"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="username"
          type="text"
          placeholder="Username"
        />
      </div>
      <div class="mb-4" v-if="mode === 'register'">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">email</label>
        <input
          v-model="form['email']"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="username"
          type="text"
          placeholder="email"
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password</label>
        <input
          v-model="form['password']"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
          id="password"
          @keypress.enter="on_login"
          type="password"
          placeholder="******************"
        />
        <p v-if="auth_error" class="text-red-500 text-xs italic">Please, enter valid credentials</p>
      </div>
      <div class="flex items-center justify-between">
        <button
          @click="on_login"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button"
        >Sign In</button>
        <button
          @click="on_register"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button"
        >Sign Up</button>
      </div>
    </form>
    <p class="text-center text-gray-500 text-xs">&copy;2019 Page Builder</p>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      mode: "login",
      form: {}
    };
  },
  computed: {
    ...mapGetters("auth", {
      auth_error: "auth_error"
    })
  },
  methods: {
    ...mapActions("auth", {
      login: "login"
    }),
    on_login() {
      if (this.mode == "login") {
        this.login({ ...this.form });
      } else {
        this.mode = "login";
      }
    },
    async on_register() {
      if (this.mode == "register") {
        let ajaxData = {
          query: `
     mutation($username: String!, $password: String!, $email: String!) {
      createUser(username: $username, password: $password, email: $email) {
        user {
          email
        }
      }
    }
      `,
          variables: {
            username: this.form["username"],
            email: this.form["email"],
            password: this.form["password"]
          }
        };

        const resp = await this.$axios.post("auth", ajaxData);

        if (resp.data.data.createUser) {
          this.$toast.success("User is created").goAway(3000);

          this.form = {};
        } else {
          this.$toast.error("User is not created").goAway(3000);
        }
      } else {
        this.mode = "register";
      }
    }
  },
  mounted() {}
};
</script>