<template>
  <div class="flex w-full h-full">
    <div class="bg-gray-400 w-4/5 h-full">
      <div class="mt-5 mb-5">
        <p class="text-center text-gray-600 font-black text-2xl">{{userData.username}}</p>
      </div>
      <hr />
      <div class="flex items-center p-2 justify-start" @click="add('image')">
        <font-awesome-icon icon="image" class="text-gray-700 text-5xl" />
        <p class="text-gray-700 text-center text-2xl ml-2">Изображение</p>
      </div>
      <div class="flex items-center p-2 justify-start" @click="add('text')">
        <font-awesome-icon icon="font" class="text-gray-700 text-5xl" />
        <p class="text-gray-700 text-center text-2xl ml-2">Teкст</p>
      </div>
    </div>
    <div class="h-full w-1/5" @click="$emit('close')"></div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  data() {
    return {
      items: [{ text: "Log out" }]
    };
  },
  methods: {
    ...mapMutations("page", {
      add_row: "add_row"
    }),
    add(input) {
      this.add_row({ type: input });
      this.$emit("close");
    }
  }
};
</script>