<template>
  <div :id="id" @dragover.prevent @drop.prevent="drop" style="border: solid 1px green;">
    <slot />
  </div>
</template>

<script>
export default {
  props: ["id"],
  methods: {
    drop(e) {
      alert('asdasd')
      console.log("asdasd");

      const el_id = e.dataTransfer.getData("el_id");
      console.log(el_id);

      const element = document.getElementById(el_id);
      element.style.display = "block";
      e.target.appendChild(element);
    }
  }
};
</script>