<template>
  <div
    :id="id"
    :draggable="draggable"
    @dragstart="dragStart"
    @drag="drag"
    @dragover="drag_hover"
    @dragleave="leave"
    @dragend="drop"
  >
    <slot />
  </div>
</template>

<script>
import { mapMutations, mapGetters, mapActions } from "vuex";
export default {
  props: ["id", "draggable", "index"],
  computed: {
    ...mapGetters("page", {
      draged_index: "draged_index"
    })
  },
  methods: {
    ...mapActions("page", {
      replace_rows: "replace_rows"
    }),
    ...mapMutations("page", {
      set_drag: "set_drag",

      set_target: "set_target"
    }),
    dragStart(e) {
      console.log(this.index, "sdfsdfsdf");

      this.set_drag(this.index);

      const target = e.target;
      e.dataTransfer.setData("el_id", target.id);
      setTimeout(() => {
        target.style.display = "none";
      }, 0);
    },
    drag(e) {},
    drop(e) {
      this.replace_rows();
    },
    drag_hover(e) {
      console.log(this.index, "LLLLLL");
      this.set_target(this.index);

      var element = document.getElementById(this.id);
      if (this.index > this.draged_index) {
        element.classList.add("dragELbottom");
      } else {
        element.classList.add("dragELtop");
      }
    },
    leave(e) {
      var element = document.getElementById(this.id);
      element.classList.remove("dragELtop");
      element.classList.remove("dragELbottom");
    }
  }
};
</script>

<style scoped>
.dragELtop {
  -webkit-box-shadow: 0px -13px 13px -5px rgba(0, 174, 255, 0.63);
  -moz-box-shadow: 0px -13px 13px -5px rgba(0, 174, 255, 0.63);
  box-shadow: 0px -13px 13px -5px rgba(0, 174, 255, 0.63);
}

.dragELbottom {
  -webkit-box-shadow: 0px 21px 13px -5px rgba(0, 174, 255, 0.63);
  -moz-box-shadow: 0px 21px 13px -5px rgba(0, 174, 255, 0.63);
  box-shadow: 0px 21px 13px -5px rgba(0, 174, 255, 0.63);
}
</style>