<template>
  <div @touchmove="on_touch" :id="id" @touchend="on_touch_end" :draggable="true" class="p-1 mb-4">
    <slot />
  </div>
</template>

<script>
import { mapMutations, mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      y: 0,
      can_drop: true,
      distance: 1,
      places: [],
      x: 0
    };
  },
  computed: {
    ...mapGetters("page", {
      rows: "rows"
    })
  },
  watch: {
    rows: {
      deep: true,
      handler() {
        this.null_mobile_help();
      }
    },
    x: function(val, oldVal) {
      if ((val > oldVal) & (window.innerWidth - val < 40)) {
        const element = document.getElementById(this.id);
        element.classList.remove("selected");
        element.classList.add("todelete");
        element.style.left = "45px";
        if (window.innerWidth - val < 20) {
          this.delete_row(this.index);
          this.can_drop = false;
        }
      } else {
        const element = document.getElementById(this.id);
        element.classList.add("selected");
        element.classList.remove("todelete");
        element.style.left = "25px";
      }
    }
    // y: function(val, oldVal) {
    //   const index = this.places.findIndex(el => el.y === val);
    //   if (index > -1) {

    //     this.place = index;
    //   }
    //   const idx = this.places.findIndex(el => el.b === val);
    //   if (idx > -1) {

    //     this.place = idx + 1;
    //   }
    // }
  },
  props: ["id", "index"],
  methods: {
    ...mapMutations("page", {
      replace_blocks: "replace_blocks",
      null_mobile_help: "null_mobile_help",
      delete_row: "delete_row"
    }),
    ...mapActions("page", {
      touch_out: "touch_out",
      push_to: "push_to"
    }),
    set_places(e) {
      let output = [];
      for (let i = 0; i < this.rows.length; i++) {
        if (`md${i}` != this.id) {
          const element = document.getElementById(`md${i}`);
          var rect = element.getBoundingClientRect();

          output.push({ position: i, y: rect.top, b: rect.bottom });
        }
      }

      this.places = [...output];
    },
    on_touch(e) {
      const element = document.getElementById(this.id);

      var touch = e.targetTouches[0];
      if (this.places.length) {
        // console.log(this.places[0].y);
        // console.log(touch.pageY);
        if (
          this.places[0].y - 10 > touch.pageY ||
          this.places[this.places.length - 1].b + 10 < touch.pageY
        ) {
          e.preventDefault();
          return null
        }
      }

      if (window.innerWidth - touch.pageX < 30) {
        e.preventDefault();
      }
      element.style.position = "absolute";
      element.style.top = touch.pageY - 25 + "px";
      element.style.left = "25px";
      element.style.width = "85%";
      this.y = touch.pageY;
      this.x = touch.pageX;

      var rect = element.getBoundingClientRect();

      element.classList.add("selected");
      this.set_places(e);
    },
    on_touch_end(e) {
      if (this.places && this.y) {
        const counts = [];
        for (let i = 0; i < this.places.length; i++) {
          counts.push(this.places[i].y);
          counts.push(this.places[i].b);
        }
        const goal = this.y;

        if (counts.length > 0) {
          const output = counts.reduce((prev, curr) =>
            Math.abs(curr - goal) < Math.abs(prev - goal) ? curr : prev
          );
          const output_place = counts.findIndex(el => el === output);
          let index = this.places.findIndex(
            el => el.b === output || el.y === output
          );
          if (!output_place % 2 === 0) {
            index++;
          }

          if (this.can_drop) {
            this.push_to({ from: this.index, to: index });
          } else {
            this.can_drop = true;
          }

          this.touch_out();
        }
      }
    }
  },
  mounted() {
    const element = document.getElementById(this.id);
    var rect = element.getBoundingClientRect();
    this.y = rect.top;
  }
};
</script>

<style scoped>
.selected {
  -webkit-box-shadow: -1px 2px 29px 13px rgba(8, 140, 255, 0.53);
  -moz-box-shadow: -1px 2px 29px 13px rgba(8, 140, 255, 0.53);
  box-shadow: -1px 2px 29px 13px rgba(8, 140, 255, 0.53);
}

.todelete {
  -webkit-box-shadow: -1px 2px 29px 13px rgba(255, 8, 8, 0.53);
  -moz-box-shadow: -1px 2px 29px 13px rgba(255, 8, 8, 0.53);
  box-shadow: -1px 2px 29px 13px rgba(8255, 8, 8, 0.53);
}
</style>