<template>
  <div class="flex justify-center w-full">
    <homeAuth v-if="isAuth"/>
    <app-login-form v-else></app-login-form>
  </div>
</template>

<script>
import pageMixin from "../mixins/page";
import homeAuth from "../components/home_auth/HomeAuth"
export default {
  components: {
    homeAuth
  },
  mixins: [pageMixin]
};
</script>

<style>
</style>
