<template>
  <div>
    <div class="p-2">
      <div v-for="(row, i) in rows" :key="i">
        <img v-if="row.type === 'image'" :src="row.content" />
        <p class="text-gray-800" v-if="row.type === 'text'">{{row.content}}</p>
      </div>
    </div>
  </div>
</template>

<script>
import pageMixin from "../mixins/page";
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters("page", {
      rows: "rows"
    })
  },
  mixins: [pageMixin]
};
</script>