<template>
  <div class="flex flex-col p-12 w-full">
    <client-only>
      <div v-if="rows">
        <!-- DESKTOP!!! -->
        <!-- <transition-group
          v-on:before-enter="beforeEnter"
          v-on:enter="enter"
          v-on:after-enter="afterEnter"
          v-on:enter-cancelled="enterCancelled"
          v-on:before-leave="beforeLeave"
          v-on:leave="leave"
          v-on:after-leave="afterLeave"
          v-on:leave-cancelled="leaveCancelled"
        >
          <div v-for="(row, i) in [...rows]" :key="i">
            <dragElement class="flex justify-center" :id="`el${i}`" draggable="true" :index="i">
              <font-awesome-icon
                v-if="row.type == 'image'"
                icon="image"
                class="text-gray-700 text-6xl"
              />
              <font-awesome-icon
                v-if="row.type == 'image'"
                icon="plus"
                class="text-gray-700 text-3xl m-2"
              />
              <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                v-else-if="row.type == 'text'"
                type="text"
                placeholder="Label"
              />
            </dragElement>
          </div>
       
        </transition-group>-->
      </div>
      <!-- MOBILE! -->

      <div v-if="rows">
        <transition-group
          name="custom-classes-transition"
          enter-active-class="animated bounceIn"
          leave-active-class="animated bounceOut"
        >
          <div
            v-for="(row, i) in rows"
            :key="i"
            class="flex flex-col text-center list-complete-item rows"
          >
            <mobileDrop :index="i" :id="`md${i}`" v-if="row">
              <div v-if="row.type == 'image'" class="flex flex-col">
                <div @click="openModal(i)" v-if="!row.content">
                  <font-awesome-icon
                    v-if="row.type == 'image'"
                    icon="image"
                    class="text-gray-700 text-6xl"
                  />

                  <font-awesome-icon
                    v-if="row.type == 'image'"
                    icon="plus"
                    class="text-gray-700 text-3xl m-2"
                  />
                </div>
                <transition
                  name="custom-classes-transition"
                  enter-active-class="animated bounceIn"
                  leave-active-class="animated bounceOut"
                >
                  <img class="w-full" v-if="row.content" :src="row.content" alt />
                </transition>
              </div>

              <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                v-else-if="row.type == 'text'"
                type="text"
                v-model="form[`${i}`]"
                placeholder="Label"
              />
            </mobileDrop>
          </div>
        </transition-group>
      </div>
      <transition
        name="custom-classes-transition"
        enter-active-class="animated bounceIn"
        leave-active-class="animated bounceOut"
      >
        <div class="fixed w-3/4 modal" style="top: 100px; left: auto; right: auto;" v-if="modal">
          <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Image URL</label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                type="text"
                placeholder="https://..."
                v-model="form[`${to_img}`]"
              />
            </div>
            <div class="flex items-center justify-between">
              <button
                @click="place_img"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button"
              >OK</button>
            </div>
          </form>
        </div>
      </transition>

      <button
        v-if="rows && rows.length > 1"
        @click="reverse_rows"
        class="mt-20 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      >
        <font-awesome-icon icon="retweet" class="text-4xl m-2" />
      </button>
    </client-only>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import { graphqlMutation } from "~/utils";
import mobileDrop from "../mobileDrop";
// import { TimelineLite, TimelineMax, Power2 } from "gsap";
import dragBoard from "../dragBoard";
import dragElement from "../dragElement";

export default {
  data() {
    return {
      form: {},
      image: null,
      modal: false,
      to_img: null
    };
  },
  watch: {
    form: {
      deep: true,
      handler(val, oldVal) {
        this.set_page_data(val);
      }
    },
    rows: {
      deep: true,
      handler(val) {
        this.set_model_data(val);
      }
    }
  },
  components: {
    dragBoard,
    dragElement,
    mobileDrop
  },
  computed: {
    ...mapGetters("page", {
      rows: "rows",
      mobile_help: "mobile_help"
    }),
    text_input: {
      get() {
        return this.$store.state.obj.message;
      },
      set(value) {
        this.$store.commit("updateMessage", value);
      }
    }
  },
  methods: {
    ...mapMutations("page", {
      set_page_data: "set_page_data",
      reverse_rows: "reverse_rows"
    }),
    openModal(i) {
      this.modal = true;
      this.to_img = i;
    },
    place_img() {
      this.modal = false;
    },
    set_model_data(input) {
      if (input) {
        let form = {};
        for (let i = 0; i < input.length; i++) {
          if (input[i]) {
            form[`${i}`] = input[i].content;
          }
        }

        this.form = { ...form };
      }
    },
    enter: function(el, done) {
      // const timeline = new TimelineMax({ repeat: 3, yoyo: true }).fromTo(
      //   el,
      //   2,
      //   {
      //     boxShadow:
      //       "0px 40px 70px 0px rgba(0, 0, 0, 0), 0px 27px 24px 0px rgba(0, 0, 0, 0)",
      //     scale: 1
      //   },
      //   {
      //     boxShadow:
      //       "0px 2px 10px 0px rgba(26, 32, 44, 0.16), 0px 2px 5px 0px rgba(26, 32, 44, 0.26)",
      //     scale: 1.05,
      //     ease: Power2.easeOut
      //   }
      // );
    }
  },
  mounted() {
    console.log('asdasdas');
    
    this.set_model_data(this.rows)
  }
};
</script>

<style scoped>
@import url("https://cdn.jsdelivr.net/npm/animate.css@3.5.1");

.modal {
  -webkit-box-shadow: 2px 21px 500 300px rgba(117, 117, 117, 1);
  -moz-box-shadow: 2px 21px 500 300px rgba(117, 117, 117, 1);
  box-shadow: 2px 21px 500 300px rgba(117, 117, 117, 1);
}

.rows {
  touch-action: none;
}
</style>